extends layout.pug

block content
  .wrapper.wrapper--nobackground
    main.main-page.main-page--padding
      section.main-page__publication.publication
        h1.publication__title Комментарии
        ul.publication__list
          each article of articles
            each comment of article.comments
              li.publication__list-item
                .publication__header
                  img.publication__list-image(src=`img/${comment.user.avatar}` width='20' height='20' alt='Аватар пользователя')
                  b.publication__list-name #{comment.user}
                  time.publication__item-time(datetime=`${comment.createdAt}`) #{comment.createdAt}
                a.publication__item-text(href='#') #{comment.text}
                button.publication__button.button.button--close-item(type='button')
                  span.visually-hidden Закрыть строку списка
